

* {
    box-sizing: border-box;
}

html, body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    margin: 1rem;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    height: fit-content;
}

header {
    border-radius: 6px 6px 0 0;
    padding: 1rem;
    background: linear-gradient(to right, 
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet);
    color: white;
}

header h1 {
    text-shadow: 2px 2px 2px #000000;
}

#actionBar {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}

#colorSchemeForm {
    display: flex;
    padding: 1rem 0.6rem;
    margin: 0;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    outline: none;
    padding: 1px;
}

#colorPicker {
    border: 1px solid #D1D5DB;
    background-color: #E5E5E5;
    padding: 0.06rem 0.06rem;
    height: 34px;
    width: 68px;
}

#schemeDropdown {
    font-size: 16px;
    width: 100%;
    border: 1px solid #D1D5DB;
    margin-left: 0.6rem;
    padding: 0.4rem 1rem;
    border-radius: 4px;
}

#getColorSchemeBtn {
    color: #374151;
    font-size: 12px;
    width: 40%;
    margin-left: 0.6rem;
    border: 1px solid #D1D5DB;
    background-color: white;
    border-radius: 4px;
}

#colorSection {
    display: flex;
}

.color-column {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    flex-grow: 1;
    background-color: #000000;
}

.color-column p {
    z-index: 100;
}

.colorHex {
    position: relative;
    bottom: -2.2rem;
}

#colorSchemeHex {
    background-color: white;
    height: 3rem;
    border-radius: 0 0 1rem 1rem;
}